/* Challenge 8: Change the type of font to Arial for all elements */
html{
    font-family: Arial;
}

/* Challenge 9: Change the background color for all elements with a id of banner.  Choose a color
                using rgb( )

*/
#banner{
    background-color: rgba(255, 0, 0, 0.349);
}

/* Challenge 10: Change the background color for all elements with a class of subbanner.  Choose a color
                using a hexdecimal value. 
*/
.subbanner{
    background-color: rgba(98, 0, 255, 0.377);
}

/* Challenge 11: Change the radius of the border to 6px and height to 200px for all images inside of all 
                 elements with a class of gallery 
*/
.gallery img{
    border-radius: 6px 200px;
}

/* Challenge 12: When the visitor moves their mouse over images inside of the element with an id of firstGallery,
                 apply some type of styling using the filter( ) effect
*/
#fristGallery img:hover{
    filter: blur(30%);

}

/* Challenge 13: When the visitor moves their mouse over images inside of the element with an id of secondGallery,
                 apply some other type of styling.
*/
#secondGallery img:hover{
    filter: invert(30%);
}

/* Challenge 14: Change the transition for all elements to 1 second */
html{
    transition: 1s;
}